torch==2.7.1+cu128
torchvision==0.22.1+cu128
torchaudio==2.7.1+cu128
numpy
opencv-python
pillow
matplotlib
tqdm
pyyaml
requests
easydict
scikit-learn
scipy
cython
imgaug
natsort
pycocotools
Flask
click
